.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;

    padding: 91px 50px;
}

.header_menu {
    justify-self: start;
}

.header_menu_list {
    display: flex;
    gap: 32.4px;
}

.header_menu_list_item {
    list-style: circle;
    text-decoration: underline;
    text-underline-offset: 4px;
    
}

.header_menu_list_item_individ {
    list-style: none;
    text-decoration: none;
}

.header_menu_list_item_link {
    text-decoration: none;
    font-size: 18px;
}

.header_logo_container {
    display: flex;
    justify-content: center;
    width: 137px;
}

.address {
    font-family: Raleway, sans-serif;
    max-width: 47px;
    font-size: 18px;
    line-height: 23.9px;
    font-style: normal;
    text-underline-offset: 4px;
}

.header_address {
    justify-self: center;
    display: flex;
    white-space: nowrap;
}

.cover {
    min-height: 757px;
    margin-top: 5px;
    position: relative;
}

.cover_background_image {
    background: url(/images/cover.jpg) no-repeat center;
    background-size: cover;
}

.cover_opacity {
    position: absolute;
    min-height: 757px;
    width: 1100px;
    background-color: rgb(0 0 0 / 60%);
}

.cover_title {
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin: 165px 50px 106px;
    gap: 18px;
    
}

.aligned_text {
    display: block;
    letter-spacing: 30px;
}

.aligned_text-left {
    align-self: start;
}

.aligned_text-center {
    align-self: center;
    margin-right: -30px
}

.aligned_text-right {
    align-self: end;
    margin-right: -30px;
}

.description {
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
}

.description_title {
    margin-top: 12px;
    margin-bottom: 11px;
    word-spacing: 18.5px;
}

.description_button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    
}

.description_button_text {
    margin-left: 26px;
    margin-right: 26px;
}

.lots {
    margin: 180px 24px 120px 24px;

}

.lots_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots_card_list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.lots_card_list-item {
    width: 334px;
    min-height: 596px;
    list-style: none;
    color: white;
    position: relative;
}

.card-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
}

.cover_opacity_lots {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card-link {
    height: 100%;   
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

.card {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.lots__look-more-link-top { 
    margin-top: 26px;
}


.lots__look-more-link {
    font-weight: 400;
    font-size: 20px;
    margin-left: 40px;
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.about {
    min-height: 595px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 275px 1fr;
}

.about_logo {
    align-self: end;
    justify-self: center;
    width: 240px; height: 240px; border-radius: 50%; background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.about_title {
    font-weight: 700px;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 25px;
    margin-top: 136px;
}

.about_text {
    margin-left: 25px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;

    min-height: 180px;
}

.footer_address {
    justify-self: start;
    display: flex;
    white-space: nowrap;
    margin-left: 50px;
}

.footer_menu {
    justify-self: center;
}

.footer_menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
}

.footer_menu-list-item {
    font-weight: 400;
    font-size: 18px;
}

.footer_menu-link {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.footer_menu-link-active {
    border-bottom: none;
}

.footer__social-list{
    justify-self: end;
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 48px;
    margin-right: 50px;
}

.footer__social-list-item {
    list-style: none;
}


.footer__social-icon {
    width: 48px;
    height: 48px;
}